

  <footer class="footer">
      <div>
        <div class="legal">
            <div class="left">© 2017 - The Everywhereist</div>
            <div class="right">
                <ul>
                    <li>Terms of Use</li>
                    <li class="expect">Privacy Policy</li>
                </ul>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">home</a> </li>
                <li><a href="#">blog</a></li>
                <li><a href="#">all over the place</a></li>
                <li><a href="#">best of</a></li>
                <li><a href="#">archives</a></li>
                <li><a href="#">travel guides</a></li>
                <li class="expect"><a href="#">people & stuff i like</a></li>
                
            </ul>
        </nav>
      
    </div>

  </footer>
</div>
</body>
</html>
