<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
    <header id="header">
        <div id="logo-brand">
            <a href="/" class="header-brand">
                <img alt="logo" src="/images/logo-book.svg" width="40" height="40">
                <h1 class="display-3">Learn yourself </h1>
                <h3>Bé chẳng học, lớn làm gì?</h3>
            </a>
            
        </div>

        <nav>
            <ul>
                <li class=""><a href="">Du lịch</a></li>
                <li class="area "><a href="">Ẩm thực</a></li>
                <li class="food "><a href="">Lập trình</a></li>
                <li class="code"><a href="">Địa lý</a></li>
            </ul>
        </nav>

    </header>
