<%- include('partials/header'); -%>

<div class="banner">
    <div class="left">
        <div class="picture">
            <a href="#"><img src="/images/book-cover.png" alt="banner"></a>
        </div>
        <div class="content">
            <h1 class="heading-first">All over the place</h1>
            <h4>Available Now</h4>
            <p>I wrote a book about getting lost and finding yourself and also peeing on things when you are angry. If you liked Twilight, you will probably hate my book.</p>
            <button>Let's go</button>
        </div>
    </div>
    <div class="right">
        <h2 class="line-heading">TAKE A FAMOUS PERSON’S<br>WORD FOR IT:</h2>
        <p>“Geraldine DeRuiter’s All Over the Place is a travel memoir of sorts, but I’d enjoy reading pretty much any topic she wanted to cover. Her voice is funny, witty and warm, and her stories sparkle.  This book is a travel companion you’ll be happy you brought along.”</p>
        <p>~ Lauren Graham, star of GILMORE GIRLS and New York Times bestselling author of TALKING AS FAST AS I CAN</p>
    </div>
</div>

<div class="blog-layout">
    <div class="left">
        <article id="post" class="post">
            <header>
                <h2 class="heading-first"><a href="/post/<%=test%>">Điều gì xảy ra khi gõ một đường dẫn lên browser</a></h2>
                <div class="date">Posted on
                    <div class="actual-date">FEB 4, 2019</div>
                </div>
            </header>
            <div class="photo">
                <a href="#">
                    <img src="/images/bg_bikipvocong.jpg" alt="photo">
                </a>
                <div class="comment-count"><span>0 comments</span></div>
            </div>
            <div class="categories">
                Posted in: 
                <a href="#">awesome</a>
                <a href="#">site news</a>
            </div>
            <div class="body">
                <p>I’m still weirded out when I’m asked to do interviews. I still feel like, even after all these years, that the blog (and even my book) are sort of a small, insular thing, and when people have heard of them, I find it oddly confusing. It’s like a stranger walking up to you and talking…</p>
                <a href="#" class="btn">Đọc thêm ></a>
            </div>

        </article>
    </div>
    <div class="right">
        <div class="item-featured-link">
            <a href="#" className="item">best of the blog ></a>
        </div>
        <div class="item-featured-link">
            <a href="#" className="item">best of the blog ></a>
        </div>
        <div class="item-featured-link">
            <a href="#" className="item">best of the blog ></a>
        </div>
        <div class="item-featured-link">
            <a href="#" className="item">best of the blog ></a>
        </div>
    </div>
</div>


<%- include('partials/footer'); -%>